body {
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #2c2c2c;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 300px;
    border: 2px solid #97E45B;
}

.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    margin-top: 24px;
}

h1 {
    font-size: 22px;
    color: #ffffff;
    margin: 10px 0;
}

p {
    font-size: 14px;
    color: #cccccc;
    margin: 5px 0;
}

.profession {
    color: #97E45B;
    font-size: 14px;
    margin-bottom: 20px;
}

.social-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 12px 0;
    border-radius: 5px;
    background-color: #4a4a4a;
    transition: background-color 0.3s, transform 0.3s;
}

.btn:hover {
    background-color: #666666;
    transform: scale(1.05);
}

.github {
    background-color: #36393d;
}

.linkedin {
    background-color: #36393d;
}

.instagram {
    background-color: #36393d;
}

/* Responsividade (Tá Ótimo)*/
@media (max-width: 600px) {
    .container {
        width: 90%;
    }
}